name: Deploy if pass tests

on:
  push:
    branches:
      - main 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Install JavaScript dependencies
        run: pnpm install

      - name: Approve Cypress install script
        run: pnpm approve-builds cypress

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12" 

      - name: Install Python dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          pytest tests/

      - name: Run Flask
        run: | 
          source venv/bin/activate
          flask run &

      - name: Install Cypress
        run: pnpm exec cypress install

      - name: Cypress run
        uses: cypress-io/github-action@v6
  
  terraform:
    needs: test
    runs-on: ubuntu-latest
    if: success()

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE }}
          aws-region: eu-north-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with: 
          terraform_version: 1.14.0

      - name: Terraform Init
        run: terraform Init

      - name: Terraform Plan
        run: terraform plan -lock=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -lock=false

      


      